<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear SCW / Psychologist,</p>
    <p>A new case <strong><%= @case_id %></strong> has been assigned to you by CPO <strong><%= @user_name %></strong>. Please proceed to register the case immediately, by logging into your CP-IMS account.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
