<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear SCW/Psy,</p>
    <p>Referral of <strong><%= @case_id %></strong> has been Responded by Referral Partner <strong><%= @reciever_name %></strong>. </p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
