<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear SCW / Psychologist,</p>
    <p>
      A new case <strong><%= @case_id %></strong> has been transferred to you by CPO <strong><%= @user_name %></strong> at location <strong><%= @location %></strong>. This case is currently at the <strong><%= @workflow_stage %></strong> stage. Please login to your account and proceed to next stage.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
