<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear SCW / Psychologist,</p>
    <p>
      Your CPO <strong><%= @user_name %></strong> has added a Flag on your recent request for the verification of <strong><%= @case_id %></strong>'s <strong> <%= @workflow_stage %></strong> Stage. Please log into your CP-IMS account to view and respond to this Flag.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
