<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear SCW/Psy,</p>
    <p>Registration of <strong><%= @case_id %></strong> has been verified by CPO <strong><%= @cpo_user.user_name %></strong> by logging into your CP-IMS account.</p>
    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
