<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear SCW / Psychologist,</p>
    <p>Monitoring and Follow-up of <strong><%= @case_id %></strong> has been verified by CPO <strong><%= @user_name %></strong>.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
