<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @reciever_name %>,</p>
    <p>A case <strong><%= @case_id %></strong> has been referred to you by SCW/Psy <strong><%= @transfered_by_user_name %></strong>. Please login to CPIMS and view the case for services.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
