<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @recipient.user_name %>,</p>
    <p>A case <strong><%= @case_id %></strong> referral has been revoked by SCW/Psy <strong><%= @user_name %></strong>. Please ignore the earlier referral related to this Case.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
