<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear CPO,</p>
    <p>Case Plan of <strong><%= @case_id %></strong> has been completed by SCW/Psy <strong><%= @user_name %></strong>. Please verify the Case Plan by logging into your CP-IMS account.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
