<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear CPO,</p>
    <p>
      A case <strong><%= @case_id %></strong> has been referred to you from <strong><%= @user_name %></strong> at location <strong><%= @location %></strong>. This case is currently at the <strong><%= @workflow_stage %></strong> stage. Kindly allocate it to either a SCW or Psychologist</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
