<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear  SCW/Psy,</p>
    <p>Case Transfer of <strong><%= @case_id %></strong> has been approved by CPO <strong><%= @user_name %></strong>.</p>
    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>


Dear SCW/Psy,
Case Transfer of (Case ID) has been
approved by the CPO (Username).
Thank you,
KP CP-IMS
