Dear <%= @reciever_name %>,</p>
A case <%= @case_id %> has been referred to you by SCW/Psy <%= @transfered_by_user_name  %>. Please login to CPIMS and view the case for services.</p>

Thank you,</p>
KP CP-IMS</p>
