<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear CPO,</p>
    <p>A case <strong><%= @case_id %></strong> has been completed by SCW/Psy <strong><%= @owned_by_user_name %></strong>. Please verify the Case Registration by logging into your CP-IMS account.</p>
    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
