<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear SCW/Psy,</p>
    <p>Case closure of <strong><%= @case_id %></strong> has not been Approved by CPO <strong><%= @user_name %></strong>. Please view his comments by logging into your CP-IMS account.</p>

    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
