<!DOCTYPE html>
<html lang="<%= @cpo_user.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear CPO,</p>
    <p>A case <strong><%= @case_id %></strong> has been referred to you via the helpline. Kindly log into your CP-IMS account and allocate it to either a SCW or a Psychologist.</p>
    <p>Thank you,</p>
    <p>KP CP-IMS</p>
  </body>
</html>
