<!DOCTYPE html>
<html lang="<%= @owner.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%=
      t(
        @email_content_html_yml_key,
        user: @manager.user_name, status: @approval.downcase,
        user_role_name: @manager.role.name,
        approval_type: @approval_type&.downcase,
        case_id: link_to(@child.short_id, url_for_v2(@child)),
        locale: @locale_email
      ).html_safe
    %></p>
  </body>

  <p>Thank you,</p>
  <p>KP CP-IMS</p>
</html>
